@font-face {
  font-family: caddy;
  src: url("../fonts/English111\ Vivace\ BT.ttf")
}

body {
  background-image: url("../images/cadillac-wallpaper.png");
  background-attachment: fixed;
  background-size: cover;
  background-color:orange;
  background-blend-mode: screen;
}

form, #video-section, #models {
  margin-bottom: 42px;;
}

h2 {
  font-family: caddy;
}

form h2 {
  margin: 21px auto;
  font-size: 3rem;
}

#models h2 {
  font-size: 3rem;
}

#video-section, #models {
  display: grid;
  grid-template-columns: auto;
}

.card {
  margin: 25px;
}

@media screen and (max-width: 769px) {
  body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: linear-gradient(#97140C, #CBAA4D);
  }
}